* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 5vh;
    background-color: #e6e6e6;
    display: flex;
    justify-content:center;
    align-items: center;
}

/*************START-COMPONENT**************/

.start {
    background-color: #F7AC05;
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

.start img {
    width: 200px;
    transition:ease-in-out 0.6s ;
    margin-top: 50px;
}

.start img:hover {
    width: 300px;
}

h2 {
    color: white;
    font-family: sans-serif;
    text-align: center;
}

#guest {
    text-transform: capitalize;
    color:#EC131D;
}

/* **************FORM-COMPONENT************* */

.form{
    background-color: #F7AC05;
    height: 95vh;
}

.form-container {
    width: 600px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.6), 
          rgba(0, 0, 0, 0.6)
        ),
        url('./assets/istanbul-trafik.jpg');
    background-size:cover;
    background-position: center;
}   

.form-control {
    width: 100%;
}

label {
    color:white;
    font-weight:bold;
    font-size:20px;
}

#result {
    font-size:18px;
    text-align:center;
}

#result-btn {
    margin-bottom:20px;
    background-color: #f01e41;
    color: white;
    font-weight:500;
    border-radius: 5px;
}

#result-btn:hover {
    background-color:#750a1c;
}